<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.footer_subscription_header{
	font-size: 32px;
	font-weight: bold;
	text-align:center;
}
.footer_subscription_header .span4{
	color:#05CC5E;
}

footer a{
	color:white;
	text-decoration:underline;
}

footer a:hover{
	color:white;
	text-decoration:underline;
	
}

footer a:visited{
	color:white;
	text-decoration:underline;
	
}</style>
<!-- end Simple Custom CSS and JS -->
